
body,html {
    margin:0;
    padding:0;
    height:100%;
    background-color:#f0f0f0;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

.container {
    width:85%;
    margin:auto;
    height:100%;
}

.sidenav {
    position:fixed;
    height:100%;
    width:15%;
    background-color:white;
}

.sidenav img {
    width:100%;    
}

.content {
    width:80%;
    margin-left:20%;
    
}

.hover-list {
    list-style-type:none;
    padding-left: 0px;
}

.hover-list li {
    text-align:center;
    display:block;
    padding:5%;
}

.hover-list li:hover {
    background-color:lightgrey;
}

a {
    text-decoration:none;
    color:inherit;
}

#welcome {
    text-align:center;
    padding:2% 1% 0;
    margin:2% 1% 0;
}

.hz-list {
    list-style-type:none;
    padding-left: 0px;
}

.hz-list li {
    text-align: center;
    display: inline-block;
    padding: 1% 2%;
}

.hz-list li:hover {
    background-color:white;
}

.select {
    padding: 1% 2%;
    margin: auto;
    text-align: center;
    background-color: grey;
    font-size: medium;
    color: white;
}

.select option {
    text-align:center;
}

p {
    text-align:center;
}

.product {
    width:30%;
    margin:1%;
    display:inline-block;
    background-color:white;
    
}

.product-list {
    list-style-type:none;
}

.product-list li {
    text-align: center;
    padding:1%;
}

.title {
    font-weight:bold;
}

.product li img {
    width:150px;
    height:150px;
}

.product:hover {
    background-color:#f9f9f9;
    box-shadow: 0px 0px 42px 5px rgba(105,91,105,0.56);
}

.bottom {
    padding:1px;
}
.bottom p {
    text-align:center;
}

.contact.seller {
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border: none;
}

.contact {
    display: inline-block;
    border-radius: 2px;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 500;
    vertical-align: super;
    cursor: pointer;
    outline: none;
}

._3o3r66 {
    opacity: .6;
    padding-top: 7px;
    white-space: nowrap;
}

.btn {
  background: #3498db;
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 7px 15px 7px 15px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #fc3c89;
  text-decoration: none;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
}